img.github {
  width: 25px;
}

.flex-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.row {
    width: auto;
    /*max-width: 64.375rem;*/
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.box-item {
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    margin: 0 .938rem 3.125rem;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    /*min-height: 17.813rem;*/
    transition: all .3s;
    position: relative;
}

.box-item .box-body {
    padding: 1.563rem;
}

.box-item .box-body h2 {
    margin: .313rem 0 .938rem;
    font-size: 1.25rem;
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #005f97;
}

.box-item .box-body p {
    margin: 0 0 1.25rem;
    color: #576366;
    font-size: .875rem;
    line-height: 1.375rem;
}
